.list-view-box{
    margin-bottom: 40px;
}

.return-section{
    height: 60px;
    margin-bottom: 15px;
    border-bottom: solid 1px #909090;
    padding-left: 10vw;
    display: flex;
    align-items: center;
}

.return-section .items{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.return-section i{
    font-size: 30px;
    margin-right: 10px;
}

.return-section p{
    font-size: 20px;
}

.product-info-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-info-display img{
    width: 300px;
    height: 300px;
}

.product-right-display{
    width: 60%;
}

.product-right-display .btn{
    background: #D53032;
    color: #ffffff;
}

@media (max-width: 637px){
    .product-info-display{
        flex-direction: column;
        align-items: center;
    }

    .product-right-display{
        width: 90%;
    }
}

.primary{
    background: #D53032 !important;
}

.secondary{
    background: #808080 !important;
}
