.return-section{
    height: 60px;
    margin-bottom: 15px;
    border-bottom: solid 1px #909090;
    padding-left: 3vw;
    display: flex;
    align-items: center;
}

.return-section .items{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.return-section i{
    font-size: 30px;
    margin-right: 10px;
}

.return-section p{
    font-size: 20px;
}

.list-view-box {
    margin: 20px 30px;
}

.why-text button{
    color: #ffffff;
}

.why-text .delete {
    background: #d53032;
}
